/* Technique 1 -- float */
* {
  box-sizing: border-box;
}
main {
  height: 100px;
}
@media screen and (min-width: 640px) {
  nav {
    float: left;
    width: 300px;
    height: 100px;
  }
  main {
    margin-left: 300px;
  }
}